@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("img/candy-crush-background-2.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.grid {
  height: 560px;
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-left: 30px;
  background-color: rgba(109, 127, 151, 0.2);
  border-radius: 15px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5) inset, 0 4px 7px rgba(0, 0, 0, 0.6);
}

.grid div {
  height: 70px;
  width: 70px;
}

.title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  position: relative;
  animation-name: candy;
  animation-duration: 1.2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes candy {
  0% {
    left: -100px;
  }
  100% {
    left: 20px;
  }
}
.title p {
  text-transform: none;
  position: relative;
  animation-name: text;
  animation-duration: 1.2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes text {
  0% {
    top: -1000px;
  }
  100% {
    top: 10px;
  }
}

.score-board {
  background-color: rosybrown;
  border-radius: 10px;
  margin-top: 250px;
  margin-left: 200px;
  margin-bottom: 300px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#ffb6c1, #ffc0cb);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  color: rosybrown;
}
